/* Main view setup */
html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
}

/* Header and footer */
header {
    text-align: center;
    height: 80px;
}

h1 {
    font-size: 350%;
}

/* Main content */
main {
    flex: 1 0 auto;
    
}

.game-area {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

#country-image,
#capital-image {
    height: 200px;
    width: 380px;
}

#country,
#capital-city {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    height: 500px;
    min-width: 250px;
    
}

/* Footer */
.final-score-area {
    font-size: xx-large;
    text-align: center;
    
}