/* asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: lightcyan;
    width: 100%;
}

/* World flags image */
#background-main {
    
}

/* Gaming area */

.game-area {
    
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

/* Headings */

h1,
h2,
h3 {
    text-align: center;
}

h1 {
    color: mediumblue;
    margin-left: 90px;
}

h2 {
    font-size: 90%;
}

#heading-part-one,
#heading-part-two {
    color: darkgoldenrod
}

#background-country {
    height: 120px;
}

img {
    height: 100px;
    width: 190px;
}

#game-one,
#game-two {
    width: 280px;
    margin-left: 40px;
    text-align: center;
}

/* Buttons */
button {
    width: 90px;
    height: 30px;
}

.btn-outline-start {
    font-weight: bold;
    font-size: large;
    color: white;
    background-color: green;
    float: right;
}

.btn-outline-true {
    font-weight: bold;
    font-size: large;
    color: white;
    background-color: lightgreen;
}

.btn-outline-false {
    font-weight: bold;
    font-size: large;
    color: white;
    background-color: lightcoral;
}

/* Footer */

footer {
    background-color: lightcyan;
    
}

.final-score-area {
    text-align: center;
}

.btn-outline-restart {
    font-weight: bold;
    font-size: large;
    color: white;
    background-color: red;
    height: 50px;
}

h4 {
    font-size: xx-large;
}

#final-score-message {
    font-size: x-large;
}

/* Media query tablets and larger (768px and up) */

#possible-country,
#capital-city {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 200px;
  
}

.game-area {
    text-align: center;
}

.head {
    font-size: x-large;
}

#start {
    width: 150px;
    height: 70px;
}