/* asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

/* Main view setup */
html {
    min-height: 100%;
    position: relative;
}

.background-image {
    opacity: 0.1;
}


body {
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    
}




/* Header */
header {
    
    height: 80px;
    border-bottom: darkorange 2px solid;
    
    
}

/* Main */
h1 {
    font-size: 280%;
    text-align: center;
    margin-top: 50px;
}

h2 {
   text-align: center;  
   color: blue;
   font-size: 150%;
}

/* Main content */
main {
    flex: 1 0 auto;
    
}

.game-area {
    position: fixed;
    width: 100%;
    
}

img {
    border: black 2px solid;
}

#country-image,
#capital-image {
    height: 100px;
    
    flex-wrap: wrap;
    width: 80%;

}

#country,
#capital-city {
    
    
    
    
}

#country {
    text-align: center;
    position: relative;
    
}

button {
    width: 70px;
    height: 35px;
}

.btn-outline-start {
    color: white;
    font-weight: bold;
    font-size: medium;
    background-color: lightgreen;
    float: right;
    
}

.btn-outline-true {
    color: white;
    font-weight: bold;
    font-size: large;
    background-color: green;
}

.btn-outline-false {
    color: white;
    font-weight: bold;
    font-size: large;
    background-color: red;
}



/* Footer */
.final-score-area {
    border-top: darkorange 2px solid;
    font-size: xx-large;
    text-align: center;
    
    margin-bottom: 20px;
    
}

.btn-outline-restart {
    color: white;
    font-weight: bold;
    font-size: large;
    background-color: crimson;
    float: right;
    margin-right: 50px;
}